[package]
name = "bazel-lsp"
version = "0.1.1"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.79"
clap = { version = "4.4.18", features = ["derive"] }
either = "1.9.0"
itertools = "0.12.0"
lsp-types = "0.94.1"
starlark = { git = "https://github.com/facebookexperimental/starlark-rust.git" }
starlark_lsp = { git = "https://github.com/facebookexperimental/starlark-rust.git" }
tempfile = "3.9.0"
thiserror = "1.0.56"
