name: Rust

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  build-and-test:
    name: Build and Test
    runs-on: ${{ matrix.target.runs-on }}
    strategy:
      matrix:
        target:
          - name: linux-amd64
            runs-on: ubuntu-20.04
            extension: ""
          - name: windows-amd64
            runs-on: windows-2019
            extension: .exe
          - name: osx-amd64
            runs-on: macos-11
            extension: ""
      fail-fast: false

    steps:
      - uses: actions/checkout@v3
      - name: Build & Test
        run: bazel test //... -c opt
      - uses: actions/upload-artifact@v4
        with:
          name: bazel-lsp-${{ matrix.target.name }}${{ matrix.target.extension }}
          path: bazel-bin/bazel-lsp${{ matrix.target.extension }}
  release:
    if: github.ref == 'refs/heads/master'
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.RELEASE_PLEASE_TOKEN }}
          release-type: rust
      - uses: actions/download-artifact@v4
        if: ${{ steps.release.outputs.release_created }}
        with:
          path: releases
          pattern: bazel-lsp-*
      - name: Add version to artifacts
        if: ${{ steps.release.outputs.release_created }}
        run: |
          VERSION=${{ steps.release.outputs.major }}.${{ steps.release.outputs.minor }}.${{ steps.release.outputs.patch }}
          find releases -type f -exec bash -c 'mv "$1" "${1/bazel-lsp-/bazel-lsp-"$VERSION"-}"' _ '{}' \;
      - name: Upload Release Artifacts
        if: ${{ steps.release.outputs.release_created }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh release upload ${{ steps.release.outputs.tag_name }} ./releases/*
